* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    
    text-align: center;
} */

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tools {
    display: flex;
    list-style: none;
    
}
.tool {
    padding: 5px;
}
.container {
    display: flex;
}
canvas {
    border: 1px red solid;
    margin: 20px 

}


.size {
    width: 50px;
}
.sizeAndStyle, .predefinedShapes, .specialEffects {
    display: none;
}